name: Docker CI

on:
  pull_request:
    branches:
      - main

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20 
      - run: npm install
      - run: npm run lint
      - run: npm run format
      - run: npm run test

      - name: Build Docker Image
        run: docker build -t react-ci-test .
        
